[Desktop Entry]
Version=1.0
Name=POINTS Core
Comment=POINTS P2P Cryptocurrency
Comment[de]=Verbinde mit dem POINTS peer-to-peer Netzwerk
Comment[fr]=POINTS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=POINTS, eşten eşe kriptografik sanal para birimi
Exec=mergex-qt %u
Terminal=false
Type=Application
Icon=mergex128
MimeType=x-scheme-handler/mergex;
Categories=Office;Finance;
StartupWMClass=POINTS-qt
